<form nz-form [formGroup]="validateForm" (submit)="searchTourismByName()"
style="margin-top: 20px; margin-bottom: 30px; text-align: center;">
  <input nz-input placeholder="Digite um turismo para pesquisar" nzSize="large" style="width: 20%;" formControlName="service" />

  <button nz-button nzSize="large" nzType="primary" style="margin-left: 15px;" [disabled]="validateForm.invalid">Pesquisar</button>
</form>

<div class="bg">

  <div style="margin-top:10px;" class="child" *ngFor="let tourism of tourisms">
    <div nz-row>
      <div nz-col nzSpan="8">
        <img class="profile" [src]="updateImg(tourism.returnedImg)" style="height: 130px; width: 200px; border-radius: 10px;" />
      </div>
      <div nz-col nzSpan="16">
        <h2 style="cursor: pointer; color: #108ee9">
          {{tourism.serviceName}}
        </h2>
        <hr>
        <h5>
          Preço: R$ <b>{{tourism.price}}</b>
        </h5>
        <h5>
          Descrição : <b>{{ tourism.description }}</b>
        </h5>
        <hr>
        <div style="float: right;">
            <button nzSize="small" nz-button nzType="primary" routerLink="/cliente/turismo/{{tourism.id}}">Ver</button>
        </div>
      </div>
    </div>
  </div>

</div>
